{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'poll_update' poll.pk %}" class="text-uppercase font-weight-bold">Update</a></li>
    <li><a href="{% url 'poll_delete' poll.pk %}" class="font-weight-bold text-uppercase">Delete</a></li>
    <li><a href="{% url 'choice_create' poll.pk %}" class="font-weight-bold text-uppercase">Add Answer Option</a></li>
{% endblock %}

{% block content %}
    <div class="card w-100 text-white bg-dark mb-3">
        <h3 class="card-header d-inline-block font-weight-bold d-flex justify-content-center">
            {{ poll.question }}
        </h3>
        <div class="card-body">
            <h4 class="d-flex justify-content-center text-uppercase">Options:</h4>
            <span class="d-flex justify-content-end">{{ poll.created_at }}</span>
            <div class="row">
                {% for choice in poll.choices.all %}
                    <div class="col-sm-6 p-2">
                        <div class="card text-light bg-secondary">
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-center font-weight-bold">{{ choice.text }}</h5>
                                <div class="d-flex justify-content-around">
                                    <a href="{% url 'choice_update' choice.pk %}" class="btn btn-outline-dark">Update</a>
                                    <a href="{% url 'choice_delete' choice.pk %}" class="btn btn-outline-dark">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="col-sm-12">Нет ответов.</p>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-around">
                <p><a href="{% url 'poll_update' poll.pk %}" class="btn btn btn-secondary">Update</a></p>
                <p><a href="{% url 'select_answer' poll.pk %}" class="btn btn btn-secondary">Select</a></p>
                <p><a href="{% url 'poll_delete' poll.pk %}" class="btn btn btn-secondary">Delete</a></p>
            </div>
        </div>
    </div>
{% endblock %}
